* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#top-container{
  position: sticky;
}
#head {
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

#head-menu{
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#head-menu > a{
  color: aliceblue;
  text-decoration: none;
  padding: 15px;
}

#head-menu > a:hover {
  background-color: aliceblue;
  color: black;
}
#footer {
    background-color: black;
    color: aliceblue;
    height: 55px;
    display: flex;
    align-items: center;
    text-align: center ;
}
#footer > a {
  margin: 20px;
  color: aliceblue;
  text-decoration: none;
}
#footer > a:hover{
  color: blue;
  text-decoration: underline;
}
#footer > .author {
  display: flex;
  justify-content: flex-end;
}