* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-container{
  position: sticky;
}
#head {
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

#head-menu{
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#head-menu > a{
  color: aliceblue;
  text-decoration: none;
  padding: 15px;
}

#head-menu > a:hover {
  background-color: aliceblue;
  color: black;
}

#footer {
    background-color: black;
    color: aliceblue;
    height: 55px;
    display: flex;
    align-items: center;
    text-align: center ;
    display: flex;
}
#footer > a {
  margin: 20px;
  color: aliceblue;
  text-decoration: none;
}
#footer > a:hover{
  color: blue;
  text-decoration: underline;
}
#footer > .author {
  justify-content: flex-end;
}

#admin-container {
  padding: 105px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: auto auto; 
  gap: 20px; 
  justify-content: center;
}
#middle-title {
  width: 100%;
  text-align: center;
  padding: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#admin-tittle {
  grid-column: 1 / -1; 
  text-align: center; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.admin-list {
  margin: 35px;
  text-align: center;
  padding: 5px;
  box-shadow: 25px 5px 25px rgba(10, 0, 0, 0.1);
  background-color: #b67c7c;
  border-radius: 15px;
}
.admin-list:hover {
  background-color: rgb(13, 11, 153);
  color: aliceblue;
  transform: 0,6s;
}
.admin-list > ul > li {
  background-color: rgb(95, 123, 201);
  margin: 25px;
  padding: 25px;
  border-radius: 15px;
  color: aliceblue;
}
.admin-list > ul > li:hover {
  background-color: rgb(145, 60, 60);
  color: aliceblue;
}
.admin-list > ul > li >a:visited{
  text-decoration: none;
}

#info-display {
  display: flex;
  justify-content: center;
}
#customers-list, 
#room-list {
  display: grid; 
}
.name-display {
  background-color: rgb(4, 43, 43);
  color: aliceblue;
  width: 100%;
  padding: 15px;
}
.customer-card,
.room-card,
.reservation-card {
  background-color: aliceblue;
  margin: 15px;
  padding: 15px;
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 550px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#reservation-form {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
#total-price {
  color: red;
  font-weight: bold;
}